* {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding:0.5%;
    height: 2%;
    color:white;
    width: 100%;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
}

.slide {
    margin: 2%;
}

.experiences {
    box-shadow: 2px 2px 10px 1px rgb(200,200,200); 
    background-color: rgb(229, 229, 229);
    margin: 1%;
    border-radius: 10px;
    text-align: center;
    padding:3%;
    width: 2%;
    font-size: 2rem;
    text-align: center;
    -webkit-line-clamp: 1;
}
.experiences:hover{
background-color: rgb(150,150,150);
color:white;
}

.titre {
    font-size: 4rem;
    font-weight: 50;
    color: white;
    margin-top: 3%;
    text-transform: uppercase;
}

.langages {
    text-transform: uppercase;
    color: blueviolet;
    font-size: 1.5rem;
}

button {  
    color: black;
    background-color: rgb(187, 187, 187);
}

button:hover {
    background-color: rgb(128, 177, 177);
  }

.liens {
    display: flex;
    justify-content: center;
    color: black;   
    text-decoration: none;
    color: white;
    box-shadow: 10 10 10 10px rgb(50, 50, 50);
}

.btn {
    margin: 2%;
    background-color:black;
    border: 1px solid blueviolet;
    padding: 1%;
    color: black;
    width: 100px;
   
    transition: background-color 0.5s;
}


.btn1:hover{
    background-color: rgb(96, 222, 241);
    color: black;
    border: 1px solid rgb(96, 222, 241);}


.btn2:hover{
        background-color: rgb(241, 96, 132);
        color: black;
        border: 1px solid rgb(241, 96, 132);}

.btn3:hover{
            background-color: rgb(202, 138, 65);
            color: black;
            border: 1px solid rgb(202, 138, 65);}

#picture-full-page{
    width: 100%;
}

#picture-full-page:hover {
    opacity: 20%;
}

.logo img {
    width:4%;
}

.logo {
    margin: 15 0 0 0px;
}


.nav-bar img {
    width: 40%;
}

.nav-bar a {
    width: 5%;
}
.home{
    padding-left: 1%;
}

title {
    font-size: 2 rem;
    z-index: 2;
}

.presentation img {
    z-index: 1;
}

#image-central {
    width: 50%;
}

#menu-hide {
    position:fixed; 
    z-index:9999; 
    right:0%; 
    top:auto; 
    background:blueviolet; 
    padding:4em 2em; 
    width:15%; 
    min-height:20%; 
    box-shadow:1px 0 1px #9A2519;
    list-style: none;
    text-align: center;
}


#menu-hide a:hover{
    color: rgb(29, 4, 52);
}

#menu-hide ul li {
    list-style: none;
}



.logos-footer {
    display: flex;
    justify-content: center;
    opacity: 30%;
    margin-top: 2%;
}

footer img{
    width: 3%;
}



